*,
:before,
:after {
  margin: 0;
  padding: 0;
}
:root {
  --color-navy-blue: rgba(46, 47, 66, 0.4);
  --color-iris: rgba(77, 90, 229, 1);
  --color-white: rgba(255, 255, 255, 1);
}
body {
  background-color: var(--color-white);
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
  max-width: 1440px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2e2f42;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
  display: block;
  border: 0;
}
p {
  color: #434455;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #2e2f42;
}
button,
input,
label {
  font-family: inherit;
}
.container {
  max-width: 1158px;
  min-width: 288px;
  margin: 0;
}

.section {
  padding: 96px;
}
@media (min-width: 768px) {
  .section {
    padding: 96px 0;
  }
}
@media (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
}

/* Modal */

.backdrop {
  width: 100%; /* backdrop */
  height: 100%;
  background-color: var(--color-navy-blue);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  /* open modal */
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  line-height: 14px; /* modal */
  font-size: 12px;
  max-width: 408px;
  min-width: 288px;
  position: absolute;
  transition: transform 100ms ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}
@media (min-width: 768px) {
  .modal-form {
    width: 360px;
  }
}
.modal-title {
  color: rgba(46, 47, 66, 1); /* modal title */
  font-weight: 500;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.button-close {
  display: none; /* close button */
}

.icon-close {
  width: 24px; /* icon close svg */
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 24px;
}
.fieldset {
  border: none; /* fieldset modal */
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.fieldset-wrapper {
  position: relative; /* wrapper in fieldset - label, input inside */
}
.icon-user-name,
.icon-user-phone,
.icon-user-email {
  position: absolute;
  fill: rgba(46, 47, 66, 1); /* icons svg in inputs in modal */
  top: 50%;
  left: 16px;
  transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(0%, -50%);
}
.icon-user-name:hover,
.icon-user-phone:hover,
.icon-user-email:hover {
  fill: var(--color-iris);
}
.modal-label {
  display: flex; /* standard class for labels in modal */
  flex-direction: column;
  color: rgba(142, 143, 153, 1);
}
.fieldset .modal-label:not(:first-of-type) {
  margin-top: 4px;
}
.input-modal {
  min-width: 256px; /* standard class for input in modal */
  border-radius: 4px;
  border: 1px solid var(--color-navy-blue); /*  Navy blue */
  background-position: 16px center;
  background-repeat: no-repeat;
  padding: 12px 0 12px 38px;
  background-size: 18px;
  outline: var(--color-iris);
  caret-color: var(--color-navy-blue);
  transition: border 100ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 0.1);
}
@media (min-width: 768px) {
  .input-modal {
    width: 360px;
  }
}
.input-modal:hover {
  border: 1px solid var(--color-iris); /* color Iris */
  cursor: text;
  caret-color: var(--color-navy-blue);
  transform: scale(1.03);
}
.modal .input-modal:focus ~ svg {
  fill: var(--color-iris);
}
.input-modal:focus {
  border: 1px solid var(--color-iris);
}
.input-comment {
  padding: 8px 0 83px 16px;
  resize: none;
  min-width: 256px;
  margin-top: 4px;
}
textarea::placeholder {
  color: var(--color-navy-blue);
}

/* Privacy policy */

.privacy-policy {
  position: relative; /* main div */
  display: flex;
  align-items: center;
  color: var(--color-white);
}
.policy-label {
  color: rgba(117, 117, 117, 1); /* label  */
  cursor: pointer;
}
@media (min-width: 1158px) {
  .policy-label {
    width: 360px;
  }
}
.policy-checkbox {
  position: absolute; /* input checkbox */
  z-index: 2;
  width: 16px;
  height: 16px;
  opacity: 0;
  left: 0;
  transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy-checkbox:hover {
  cursor: pointer;
}
.policy-checkbox:checked ~ .policy-checkbox-icon {
  background-color: var(--color-iris);
  border: none;
}
.policy-checkbox:checked ~ .policy-checkbox-icon .checkmark {
  display: block;
  fill: white;
}
.policy-checkbox-icon {
  /* checkbox icon */
  position: relative;
  z-index: 1;
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy-link {
  text-decoration: underline; /* privacy policy link */
  color: var(--color-iris);
}
.checkmark {
  fill: white;
}
/* Button submit */

.button-submit {
  border: none;
  background-color: var(--color-iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 169px;
  align-self: center;
  padding: 16px 32px;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-submit:hover {
  transform: scale(1.05);
}

.button-submit-wrapper {
  /* button submit div */
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

/* Header */

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-item {
  list-style-type: none;
  font-weight: 500;
  position: relative;
}
.menu-nav {
  display: none;
}
@media (min-width: 768px) {
  .menu-nav {
    display: flex;
    gap: 40px;
  }
}
.menu-link {
  padding: 24px 0;
}
.menu-link:hover {
  color: #4d5ae5;
}
.menu-link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: transparent;
  bottom: 0;
  transform: translateY(26px);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.menu-link:hover::before {
  background-color: #4d5ae5;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  padding: 16px;
}
@media (min-width: 1158px) {
  .header {
    padding: 24px 156px;
  }
}
@media (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
    gap: 120px;
  }
}
@media (min-width: 1158px) {
  .header-nav {
    gap: 76px;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #2e2f42;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}
@media (min-width: 1158px) {
  .logo {
    margin: 0;
  }
}
.logo .web {
  color: #4d5ae5;
}

.address-list {
  display: none;
}
.address-link:hover {
  color: var(--color-iris);
}
@media (min-width: 768px) {
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
@media (min-width: 1158px) {
  .address-list {
    flex-direction: row;
    gap: 40px;
  }
}
.address-item {
  color: #434455;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
}
@media (min-width: 1158px) {
  .address-item {
    font-size: 16px;
    line-height: 24px;
  }
}
.hamburger {
  display: block;
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
.hamburger-menu.is-open {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .hamburger-menu.is-open {
    display: none;
  }
}
.hamburger-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  padding: 24px 24px 40px 16px;
}
.hamburger-nav-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--color-navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 168px;
}

.hamburger-menu-link:active {
  color: var(--color-iris);
}
.hamburger-contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.hamburger-address-item {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
.hamburger-address-link:active {
  color: var(--color-iris);
}
.hamburger-social-links {
  display: flex;
  gap: 40px;
}
.link {
  width: 40px;
  height: 40px;
  background-color: var(--color-iris);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Effective solutions for Your Business */

.effective-solutions-background {
  width: 320px;
  height: 432px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 432px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/Effective-solutions-for-your-business/group-of-people-mobile.jpg);
}
@media (min-resolution: 192dpi) {
  .effective-solutions-background {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/Effective-solutions-for-your-business/group-of-people-mobile@2x.jpg);
  }
}
@media (min-width: 768px) {
  .effective-solutions-background {
    width: 768px;
    height: 436px;
    background-size: 768px 436px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7)),
      url(/images/Effective-solutions-for-your-business/people-office\ 1.png);
  }
}
@media (min-resolution: 192dpi) {
  .effective-solutions-background {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/Effective-solutions-for-your-business/group-of-people-tablet@2x.jpg);
  }
}
@media (min-width: 1158px) {
  .effective-solutions-background {
    width: 1440px;
    height: 600px;
    background-size: 1440px 600px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/Effective-solutions-for-your-business/people-office\ 1.png);
  }
}
@media (min-resolution: 192dpi) {
  .effective-solutions-background {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/Effective-solutions-for-your-business/group-of-people-desktop@2x.jpg);
  }
}
.effective-solutions-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  padding: 72px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .effective-solutions-content {
    gap: 36px;
    padding: 112px 136px;
  }
}
@media (min-width: 1158px) {
  .effective-solutions-content {
    gap: 48px;
    padding: 188px 0;
  }
}

.effective-solutions-title {
  color: var(--color-white);
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  max-width: 496px;
}
@media (min-width: 768px) {
  .effective-solutions-title {
    font-size: 56px;
    line-height: 60px;
  }
}
.button {
  color: var(--color-white);
  background-color: var(--color-iris);
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  color: var(--color-white);
  background-color: #4d5ae5;
  transform: scale(1.05);
}
/* Our strengths */

.our-strengths {
  display: flex;
  gap: 72px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .our-strengths {
    column-gap: 24px;
    row-gap: 72px;
  }
}
@media (min-width: 1158px) {
  .our-strengths {
    gap: 24px;
    padding: 0 15px;
  }
}

.strengths {
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 1158px) {
  .strengths {
    font-size: 20px;
    font-weight: 500;
  }
}
.strengths-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  .strengths-item {
    flex-basis: calc((100% - 56px) / 2);
    justify-content: flex-start;
  }
}
@media (min-width: 1158px) {
  .strengths-item {
    justify-content: flex-start;
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}
.icon-strenghts {
  width: 60px;
  height: 64px;
}
.strenghts-box {
  display: none;
}

@media (min-width: 1158px) {
  .strenghts-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
    padding: 24px 100px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
  }
}
/* Our team */

.our-team-background {
  background-color: #f4f4fd;
}
@media (min-width: 1158px) {
  .our-team-background {
    width: 1440px;
    display: flex;
    justify-content: center;
  }
}
.our-team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
@media (min-width: 768px) {
  .our-team-list {
    gap: 24px;
  }
}

.our-team {
  gap: 8px;
  padding: 32px 0;
  background-color: var(--color-white);
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
  text-align: center;
}
.our-team-list-item {
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 0 0 4px 4px;
}
.our-team-names {
  text-align: center;
  margin-bottom: 8px;
}
.our-team-work {
  text-align: center;
}
.icon {
  fill: #f4f4fd;
}

.our-team-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-top: 8px;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
  flex-grow: 0;
}
.our-team-icon:hover {
  cursor: pointer;
}

/* Our Portfolio */

.portfolio-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}
.portfolio-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}
@media (min-width: 768px) {
  .portfolio-list {
    row-gap: 72px;
  }
}
.portfolio-item {
  position: relative;
  overflow: hidden;
  max-width: 360px;
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .portfolio-item {
    max-width: 356px;
  }
}
.portfolio-item:hover {
  cursor: pointer;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .portfolio-overlay-text {
  transform: translateY(0);
}
.our-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-names {
  margin-bottom: 8px;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  padding: 40px 32px 164px 32px;
  color: var(--color-white);
}

/* Footer */

.footer {
  background-color: rgba(46, 47, 66, 1);
  padding: 96px 16px;
}
@media (min-width: 768px) {
  .footer {
    padding: 96px 0;
  }
}
@media (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

@media (min-width: 768px) {
  .footer-content {
    column-gap: 24px;
    row-gap: 72px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 108px;
  }
}

@media (min-width: 1158px) {
  .footer-content {
    gap: 60px;
    justify-content: space-between;
  }
}
.footer-logo-paragraph {
  width: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer-logo-paragraph {
    align-items: flex-start;
    justify-content: center;
    max-width: 264px;
  }
}
@media (min-width: 1158px) {
  .footer-logo-paragraph {
    margin-right: 60px;
  }
}
.footer-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media (min-width: 768px) {
  .footer-social-media {
    align-items: flex-start;
  }
}
.logo .studio {
  color: #f4f4fd;
}
.footer-description {
  color: #f4f4fd;
}
.footer-link {
  display: inline-block;
  margin: 0 0 16px 0;
}

.footer-social-media .social-links {
  display: flex;
  gap: 16px;
}

.label-subscribe {
  display: flex;
  gap: 24px;
}
.button-subscribe {
  display: flex;
  padding: 8px 64px 8px 24px;
  gap: 16px;
  background-color: var(--color-iris);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  font-weight: 500;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-subscribe:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer-subscribe {
    align-items: flex-start;
  }
}
.footer-subscribe-paragraph {
  color: var(--color-white);
  margin-bottom: 16px;
}

.footer-email {
  border: 1px solid var(--color-white);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 0 8px 16px;
  width: 264px;
  background-color: rgba(46, 47, 66, 1);
  color: var(--color-white);
}
.footer-email::placeholder {
  color: var(--color-white);
  line-height: 24px;
  font-size: 12px;
}
.footer-email:hover {
  border-color: var(--color-iris);
  cursor: pointer;
  transform: scale(1.03), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-email-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media (min-width: 768px) {
  .footer-email-wrapper {
    flex-direction: row;
  }
}
.footer-button-wrapper {
  display: flex;
  position: relative;
}
.icon-subscribe {
  position: absolute;
  top: 0;
  right: 24px;
  transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(0, 25%);
}
