*,
:before,
:after {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1440px;
  background-color: #ffffff;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2e2f42;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 0;
}
p {
  color: #434455;
  font-size: 16px;
  letter-spacing: initial;
}
a {
  text-decoration: none;
  color: #2e2f42;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Header */

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-item {
  list-style-type: none;
  font-weight: 500;
  position: relative;
}
.menu-nav {
  display: flex;
  gap: 40px;
}
.menu-link {
  padding: 24px 0;
}
.menu-link:hover {
  color: #4d5ae5;
}
.menu-link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: transparent;
  bottom: 0;
  transform: translateY(26px);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.menu-link:hover::before {
  background-color: #4d5ae5;
}
.address-item {
  color: #434455;
  font-style: normal;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  margin-right: 76px;
  font-size: 18px;
  color: #2e2f42;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}
.logo .web {
  color: #4d5ae5;
}

.address-list {
  display: flex;
  gap: 40px;
}

/* Effective solutions for Your Business */

.effective-solutions-background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(/images/Effective-solutions-for-your-business/hero-image.png),
    url(/images/Effective-solutions-for-your-business/Dark-bg.png);
}
.effective-solutions-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 188px 0;
}
.effective-solutions-title {
  color: transparent;
  font-size: 56px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  max-width: 496px;
}
.button {
  color: transparent;
  background-color: transparent;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-property: transform;
}
.button:hover {
  color: #ffffff;
  background-color: #4d5ae5;
  transform: scale(1.2);
}
/* Our strengths */

.our-strengths {
  display: flex;
  gap: 24px;
}

.strengths {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.strengths-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  flex-grow: 0;
  flex-shrink: 0;
}
.icon-strenghts {
  width: 60px;
  height: 64px;
}

.strenghts-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  padding: 24px 100px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
/* Our team */

.our-team-background {
  background-color: #f4f4fd;
}
.our-team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  gap: 24px;
}
.our-team {
  gap: 8px;
  padding: 32px 0;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
  text-align: center;
}
.our-team-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 0 0 4px 4px;
}
.our-team-names {
  text-align: center;
  margin-bottom: 8px;
}
.our-team-work {
  text-align: center;
}
.icon {
  fill: #f4f4fd;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-top: 8px;
}
.social-links .link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-team-icon:hover {
  cursor: pointer;
}
/* Our Portfolio */

.portfolio-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}
.portfolio-list {
  display: flex;
  flex-flow: row wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  position: relative;
  overflow: hidden;
}
.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-names {
  margin-bottom: 8px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 250ms ease-in-out;
  transform: translateY(100%);
  background-color: rgba(77, 90, 229, 1);
  width: 100%;
  height: 100%;
}
.overlay-paragraph {
  padding: 164px 32px 164px 32px;
}
.overlay:hover {
  transform: translateY(-121px);
  cursor: pointer;
}
/* Footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-content {
  display: flex;
  gap: 120px;
}
.logo .studio {
  color: #f4f4fd;
}
.footer-description {
  color: #f4f4fd;
}
.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-description {
  max-width: 264px;
}
.list-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}
