*,
:before,
:after {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1440px;
  background-color: #ffffff;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2e2f42;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 0;
}
p {
  color: #434455;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #2e2f42;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Header */

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-item {
  list-style-type: none;
  font-weight: 500;
}
.menu {
  display: flex;
  gap: 40px;
}
.address-item {
  color: #434455;
  font-style: normal;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  margin-right: 76px;
  font-size: 18px;
  color: #2e2f42;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}
.logo .web {
  color: #4d5ae5;
}

.logo:hover,
.menu-item:hover,
.item:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
.address-list {
  display: flex;
  gap: 40px;
}

/* Effective solutions for Your Business */

.effective-solutions-content {
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 188px 0;
  gap: 48px;
}
.effective-solutions-h1 {
  color: #ffffff;
  font-size: 56px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  max-width: 496px;
}
.button {
  color: #ffffff;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
}
.button:hover {
  color: #2e2f42;
  background-color: #ffffff;
  cursor: pointer;
}
/* Our strengths */

.our-strengths {
  display: flex;
  gap: 24px;
}

.strengths {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.strengths-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  flex-grow: 0;
  flex-shrink: 0;
}

/* Our team */

.our-team-background {
  background-color: #f4f4fd;
}
.our-team-h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  gap: 24px;
}
.our-team {
  gap: 8px;
  padding: 32px 16px;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
  text-align: center;
}
.our-team-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  flex-grow: 0;
  flex-shrink: 0;
}
.our-team-names {
  text-align: center;
  margin-bottom: 8px;
}
.our-team-work {
  text-align: center;
}

/* Our Portfolio */

/* .our-portfolio-content {
  background-color: #f4f4fd;
} */
.portfolio-h2 {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}
.portfolio-list {
  display: flex;
  flex-flow: row wrap;
  column-gap: 24px;
  row-gap: 24px;
}
.portfolio-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}
.our-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-names {
  margin-bottom: 8px;
}

/* Footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo .studio {
  color: #f4f4fd;
}
.footer-description {
  color: #f4f4fd;
}
.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-description {
  max-width: 264px;
}
