body {
  font-family: "Roboto", sans-serif;
}
.header {
  background: #ffffff;
}
.info-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.webstudio {
  color: #2196f3;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.span-logo-header {
  color: #000000;
}
.list {
  list-style-type: none;
}
.nav:hover {
  color: #2196f3;
}
.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.info-footer:hover,
.info-header:hover,
.address:hover {
  color: #2196f3;
}
.info-footer {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.button:hover {
  background: #2196f3;
  color: #ffffff;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #212121;
  padding: 6px 22px;
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
}
.image-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.image-description {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #757575;
}
.address {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  cursor: pointer;
}
.footer {
  background: #2f303a;
}
.span-logo-footer {
  color: #ffffff;
}
